.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
}
.logo {
    grid-column: 2/3;
}
.header > a {
    justify-self: end;
    opacity: 0.5;
}
.header > a:hover {
    opacity: 1;
}
